body{
    margin: 20px 30px;
}


#chat_container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#chat_window{
    width: 100%;
    overflow: scroll;
    height: 70vh;
    border-bottom: solid 2px   #39567e;
    margin-bottom: 10px;
}
.in{
    max-width: 400px;
    padding: 3px 5px;
    border: solid 1px #000;
    margin: 5px 0px;
}
#output,#typing{
    margin: 30px;
}
#handle{
}
#message{
}
#send{
    background-color: #39567e;
    color: #fff;
    border: none;
    padding: 10px 20px;

}
strong{
    color: #39567e;
}
em{
    color: #717171;
}
p{
    font-size: 0.8em;
}